*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
}

@media(max-width:768px){
    .calculadora {
        flex-direction: column;
    }

}


.pantalla{
    background-color: pink;
    width: 50%;
}

@media(max-width:768px){
    .pantalla {
        width: 100%;
        aspect-ratio: 1.5/1;
    }
}

.pantalla div{
    font-family: 'Inter', sans-serif;
    font-size: 64px;
}

.botones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    aspect-ratio: 1/1 ;
    width: 50%;
}

@media(max-width:768px){
    .botones {
        width: 100%;
    }

}

.botondark:hover{
    background-color: pink;
}

.botones button{
    font-family: 'Inter', sans-serif;
    font-size: 64px;
}

@media(max-width:1024px){
    .botones button {
        font-size: 40px;
    }

}

.adoscol{
    grid-column: span 2;
}

body.darkmode{
    background-color: black;

}